/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap";

.navbar-fixed-top {
  background-color: #830300;
  }

.navbar-nav li {
  display: inline;
  }

.navbar-nav li a {
  color: #ffffff;
  font-family: 'Nova Square', cursive;
  font-size: 1.5em;
  }

#sidebar {
 width: 300px;
 height: 400px;
 right: 50%;
 margin-right:-550px;
 position: absolute;
 overflow-y: scroll;
 overflow-x: hidden;
 border:1px dotted gray;
 }

#yield {
  margin-left: 30px;
  margin-right: 400px;
  position: absolute;
  }

#sidebar a img:hover{
  -webkit-filter: opacity(0.5);
  }

.jumbotron {
  background-color: #bdbdbd;
  }

#title {
  text-align: center;
  color: #FFFFFF;
  font-size: 7em;
  font-family: 'Nova Square', cursive;
  }

#tagline {
  font-size: 2.3em;
  text-align: center;
  color: #ffffff;
  font-family: 'Nova Square', cursive;
  }

#introduction {
  text-align: center;
  font-size: 1.5em;
  margin-left: 30px;
  margin-right: -400px;
  position: absolute;
  }

#grid a:hover img {
  -webkit-filter: opacity(0.75) grayscale(20%);
  -moz-filter: opacity(0.75) grayscale(20%);
  }

#grid {
  list-style: none;
  }

#homepage {
  width: 100%;
  overflow: hidden;
  margin-bottom: -1.875em;
  -webkit-column-count: 5;
  -webkit-column-fill: auto;
  -moz-column-count: 5;
  -moz-column-fill: auto;
  column-count: 5;
  column-fill: auto;
  }

#grid .object {
  margin-bottom: 4em;
  column-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  }

.btn {
  padding: 0px
  }

.navbar-right {
  padding: none;
  }
