<div class="container">
  <div id="content">
    <div class="row-fluid">
      <div class="vam">
        <% @sources.each do |source| %>
        <img src="<%= source %>" alt="VAM" height="100" width="100">
        <% end %>
      </div>
    </div>
  </div>
</div>

