
<div class="container">
  <div id="search">
    <%= form_tag("/", method: "get") do%>
      <p><%= text_field_tag(:term) %></p>
      <p><%= submit_tag("Search") %></p>
    <% end %>
  </div>
  <div id="content">
    <div class="row-fluid">
      <div class="offset">
        <% @sources.each do |source| %>
        <img src="<%= source %>" alt="VAM" height="250" width="250">
        <% end %>
      </div>
    </div>
  </div>
</div>

