<div class="container">
    <div id="yield">
    <dl>
      <% @expos.each do |expo| %>
        <dt> <%= link_to expo.title, user_expo_path(expo.user.id, expo.id)%>  by: <%= link_to expo.user.name, user_path(expo.user_id)%>  Created <%= time_ago_in_words(expo.created_at)%> ago</dt>
      <% end %>
    </dl>
  </div>
</div>
