
  <%= form_for @user do |form| %>
    <p><%= form.text_field :name, placeholder: "Name" %></p>
    <p><%= form.text_field :email, placeholder: "Email" %></p>
    <p><%= form.submit %></p>
  <% end %>
