/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap";

.navbar-fixed-top {
    background-color: #696969;
    }

.navbar-nav li {
    display: inline;
    }

.navbar-nav li a {
    color: #ffffff;
    }

#sidebar {
   width: 300px;
   height: 400px;
   right: 50%;
   margin-right:-550px;
   position: absolute;
   overflow-y: scroll;
   overflow-x: hidden;
   border:1px dotted gray;
   }

#yield {
  margin-left: 30px;
  margin-right: 400px;
  position: absolute;
  }

#sidebar #vam a img:hover{
  -webkit-filter: opacity(0.5);
}

#title {
  text-align: center;
  color: #FFFFFF;
  }
