
<div id="content">
  <div id="search">
    <%= form_tag("/", method: "get") do%>
      <p><%= text_field_tag(:term) %></p>
      <p><%= submit_tag("Search") %></p>
    <% end %>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <a href="#" class="thumbnail">
        <% @sources.each do |source| %>
        <img src="<%= source %>" alt="...">
        <% end %>
      </a>
    </div>
  </div>
</div>
